@font-face {
	font-family: "SfDistantGalaxyOutlineItalic-4yA4";
	src: url("src/font/SfDistantGalaxyOutlineItalic-4yA4.ttf") format("truetype");
}

:root {
	--blanc: rgb(250, 250, 250);
	--vert: rgb(0, 255, 170);
}

.neon {
	font-family: "SfDistantGalaxyOutlineItalic-4yA4";
	animation: flicker 2s infinite alternate;
	color: var(--blanc);
}

h1 {
	font-size: 4.2rem;
}

/* Flickering animation */
@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 2px var(--blanc), 0 0 6px var(--blanc), 0 0 10px var(--blanc),
			0 0 20px var(--vert), 0 0 40px var(--vert), 0 0 50px var(--vert),
			0 0 60px var(--vert), 0 0 100px var(--vert);
	}

	20%,
	24%,
	55% {
		text-shadow: none;
	}
}

/* Additional styling */

h2 {
	font-size: 1.8rem;
}
..monConteneur {
	margin-top: 20vh;
}

body {
	font-size: 18px;
	background-color: black;
}

h1,
h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}
