body {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.monConteneur h3 {
	margin: 1rem;
	padding: 1rem;
	background-color: aqua;
	text-align: justify;
}

.lorem {
	margin: 1rem;
	padding: 1rem;
	background-color: aqua;
	text-align: justify;
}
